extends layout

block content
  .row.justify-content-center
    h1= title
  if(error)
    .row.my-5.justify-content-center
      ul.alert-danger.text-center.p-0.list-group.col-10.col-md-9.col-lg-7.col-xl-5
        for item in error
          li.text-white.bg-danger.list-group-item #{item}
  .row.justify-content-center
    form(action=config.routes.auth.root+config.routes.auth.register_post, method="post" class="col-12 col-md-10 col-lg-8 col-xl-6") 
        input(type="hidden", name="_csrf" value=_csrf)
       
        .form-group  
            label(for="username") username
            if(user && user.username)
              input(type="text" name="username" value=user.username class="form-control" id="username")
            else
              input(type="text" name="username"  class="form-control" id="username")

        .form-group 
            label(for="password") password
            if(user && user.password)
              input(type="password" name="password" value=user.password  class="form-control" id="password")
            else
              input(type="password" name="password" class="form-control" id="password")

        .form-group 
            label(for="repeat_password") repeat password
            if(user && user.repeat_password)
              input(type="password" name="repeat_password" value=user.repeat_password class="form-control" id="repeat_password")
            else
              input(type="password" name="repeat_password" class="form-control" id="repeat_password")

        .d-flex.justify-content-around
            button(type="submit" class="btn btn-success m-auto px-5 text-center mx-2")  register  
            a(href=`${config.routes.auth.root+config.routes.auth.login_create}` class="mx-2 btn btn-info m-auto px-5 text-center") login  